<%- include('partials/header'); -%>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js" integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w==" crossorigin="anonymous"></script>
<div class="chat-container" >
  <div class="chat-total d-flex flex-row" >
    <div class="chat-left text-center text-dark">
      <a href="/user/dashboard"  style="position: absolute;" > back </a>
      <div class="m-3 d-flex flex-row justify-content-center align-items-end" style="color: #FC0254;
      border-bottom: 1px solid #232323cb;" >
        <div class="display-4 d-flex align-items-end" >
        TFH.
      </div>
      <span>Chat</span></div>
      <div class="chat-users" style="height: 100%;">
        <%currentUser.friends.forEach((friend)=>{%>
          <div class="left-<%=friend.friend_id%>" ><%=friend.name%></div>
      <%})%>
      </div>
    </div>
    <div class="chat-right">
      <div id="user_id" hidden><%=currentUser._id%></div>
        <%currentUser.friends.forEach((friend)=>{%>
          <div class="navbar navbar-expand-lg" style="width: 100% !important; margin: 0px !important;" >
            <div class="navbar-brand">
              <%=friend.name%>
            </div>
          </div>
          <div class="msg-box d-flex flex-column justify-content-end" >
              <div class="chat-messages <%=friend.friend_id%>">
                <% friend.chats.forEach((chat)=>{ %>
                  <% if(chat.user_id == currentUser._id ){ %>
                    <div class="d-flex flex-column align-items-end" style="width: 100%;" > <span> <%= chat.msg %></span><span><%= chat.time %></span> </div>
                  <% } else { %>
                    <div class="d-flex flex-column" style="width: 100%;" > <span> <%= chat.msg %></span><span><%= chat.time %></span> </div>
                  <% } %>
                <% }) %>
              </div>
          </div>
          <form class="chat-form text-center d-flex flex-row justify-content-around p-1" id="<%=friend.friend_id%>">
            <input class="form-control" type="text" placeholder="Write message" id="msg" autocomplete="OFF">
            <button class="btn btn-primary" >Send</button>
          </form>
          <%})%>
        </div>
    </div>
  </div>
</div>


<script>
   make =(e) =>{
      fetch('/friend/get/messages/')
   }
</script>
<script>

  // const {username,room} = Qs.parse(location.search,{
  //  ignoreQueryPrefix:true
  // });

   
  const chatForm  = document.getElementsByClassName('chat-form');
  const user = document.getElementById('user_id');
  let user_id ;
  const socket = io("/");

  window.onload = function() {
    user_id = user.textContent;
    socket.emit('joinRoom',{user_id});
  };
 

  //Message from server
  socket.on('message',message=>{
      outputMessage(message); 
  });

  for(let i=0;i<chatForm.length;i++){
      chatForm[i].addEventListener('submit',(e)=>{
        e.preventDefault();
        const msg = e.target.elements.msg.value;
        //emit message to server
        let friend_id = e.target.id;
        socket.emit('chatMessage',{msg,friend_id,user_id});

        //clear inputs
        e.target.elements.msg.value='';
        e.target.elements.msg.focus();
      });
    }
   

function outputMessage(message){
  // console.log(message)
  const div =  document.createElement('div');
  let notMine = '';
  const userId = document.getElementById('user_id');
  // console.log(userId.textContent.trim())
  if(message.user_id == userId.textContent.trim()){
    // console.log("YES NOtme")
    notMine= "align-items-end";
  }
  div.innerHTML = `
    <div class="d-flex flex-column ${notMine}" style="width: 100%;" > <span> ${message.text}</span><span>${message.time}</span> </div>
    `;
  let frndClss =  document.getElementsByClassName(`chat-messages ${message.friend_id}`);
  console.log(frndClss);
  frndClss[0].appendChild(div);
} 
</script>


<%- include('partials/footer'); -%>

