<%- include('partials/header'); -%>
<!-- <%- include('sidenav'); -%> -->
<div id="content" class="hackathon-cont">
    <p hidden class="userid"><%= user._id %></p>
    <div class="hackathon-left" style="direction: rtl;">
        <div style="width: 300px;display: flex;
        flex-direction: column;align-items: center; position: fixed;
        background-color: #fafafa; direction: ltr;" >
            <div style="width: 100%;" >
                <a href="/user/dashboard" class="ml-3 mt-3 back-crcle">
                   <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </a>
            </div> 
           <h2 class="mb-1 text-center pt-3"> Hackathons</h2>
           <span class="underline mb-4" style="width: 40%;" ></span>
        </div>

        <div class="text-center hacks">
            <% hacksCurrent.forEach((hackathon , i) => { %>
                <% if(i == 0){ %>
                    <p id="<%= hackathon.id %>" class="hacknames activeHack" style="color:black" onclick="renderData(this)"><%= hackathon.title %></p>
                <% }else{ %>
                    <% if(hackathon.finished !== true){%>
                        <p id="<%= hackathon.id %>" class="hacknames" style="color:black" onclick="renderData(this)"><%= hackathon.title %></p>
                    <% }else{%>
                        <p id="<%= hackathon.id %>" class="hacknames" onclick="renderData(this)"><%= hackathon.title %></p>
                    <%}%>
                <%}%>    
            <% }) %>
        </div>
    </div>
    <div class="hackathon-right p-3">
        <% hacksCurrent.forEach((hackathon , i) => { %>
            <% if(i == 0){%>
                    <section class="<%=hackathon.id %> hackSections hackSectionsDisplay" >
            <%}else{%>
                    <section class="<%=hackathon.id %> hackSections">
            <%}%>
                <p class="display-4 text-white"> <%= hackathon.title %></p>
            <% let x = 0 %>
            <% hackathon.participants.forEach((userr)=>{ %>
                <% if(userr._id == user._id){ x = 1 %>
                        <p id="checkBox" class="text-white"><input type="checkbox" id="<%=hackathon.id %>" onclick="takePart(this)" checked> Want to be on search list?</p>
                    <% } %>
                <% }) %>
                <% if(x==0) { %>
                    <p id="checkBox" class="text-white"><input type="checkbox" id="<%=hackathon.id %>" onclick="takePart(this)"> Want to be on search list?</p>
                <% } %>
            
                <% hackathon.participants.forEach((user) => { %>
                    <div class="row p-3">
                        <div class="col-md-4 mb-4">
                            <div class="card profile-card-3">
                                <div class="background-block">
                                    <p class="text-white p-2 " style="font-size: x-large;" ><%= user.bio %></p>
                                    </div>
                                <div class="profile-thumb-block">
                                    <img src="<%= user.displayPicture %>" alt="profile-image" class="profile"/>
                                </div>
                                <div class="card-content">
                                <button id="<%=user._id%>"onclick="addfriend(this)">Add as friend</button>
                                <h4> <%= user.name %></h4>
                                <div class="d-flex justify-content-around badges-group">
                                    <% user.skills.forEach( (skill) =>{ %>
                                        <span class="badge badge-dark p-1 mb-1"> <%= skill %> </span>                                   
                                    <%})%>
                                </div>
                                    <div class="icon-block"><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a><a href="#"> <i class="fa fa-linkedin"></i></a></div>
                                    <p><small><%= user.email %> </small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
                
            </section>
        <% }) %>
    </div>
    </div>
</div>



<%- include('partials/footer'); -%>
<script>
    function takePart(e){
        console.log(document.querySelector('.userid').textContent.trim());
        const uri = "http://localhost:3000/user/hackathons/insert/"+ e.id +"/"+document.querySelector('.userid').textContent.trim();
        console.log(uri);
        if(e.checked){
            fetch(uri, {
                method: 'POST'
            })
            .then(()=>{

            })
        }
        else {
            fetch(uri, {
                method: 'DELETE'
            })
            .then(()=>{

            })
        }
    }
    function renderData(e){
        let prev = document.getElementsByClassName("hacknames activeHack");
        if(prev.length >0){
            prev[0].classList.remove('activeHack');
        }
        e.className += " activeHack"; 
        let newprev = document.getElementsByClassName("hackSections hackSectionsDisplay");
        if(newprev.length >0){
            newprev[0].classList.remove('hackSectionsDisplay');
        }

        let sec = document.getElementsByClassName(`${e.id} hackSections`);
        sec[0].className+=" hackSectionsDisplay";
    }
    var hl = document.querySelector("hackathon-left");
</script>

<script>
  addfriend = (e) =>{
     fetch(`/friend/chat/addfriend/${e.id}`)
     .then((data)=>{
        
     });
  }
</script>